<mat-card class="ac-card mb-5 mat-elevation-z3 mt-5" *ngIf="!deviceMdSmXs">

    <mat-card-header class="center-div">

      <div class="row">
        <div class="col-6">
          <img id="ac-brand-image-lg" src="{{this.productionEnvironment.resourceBaseURL}}/{{ac.brand.logoImageURL}}">
        </div>

        <div class="col-6" id="model-name-col">
          <h1 matTooltip="{{ac.modelName}}">{{ac.modelName}}</h1>
        </div>
      </div>

    </mat-card-header>

    <div class="center-div pt-4">
      <img id="ac-image" mat-card-image src="{{this.productionEnvironment.resourceBaseURL}}/{{ac.imageIndoorURL}}">
    </div>
    <div class="center-div pt-4">
      <img id="ac-image" mat-card-image src="{{this.productionEnvironment.resourceBaseURL}}/{{ac.imageOutdoorURL}}">
    </div>
    <mat-card-content class="center-div">
      <div class="row mt-3">

        <div class="col-8">
          <p>
            <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_TYPE" | translate }}</b>
            {{ac.type}}
          </p>
          <p>
            <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_ENERGY_CLASS" | translate }}</b>
            {{ac.energyClass}}
          </p>
          <p>
            <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_POWER" | translate }}</b>
            {{ac.power}}W
          </p>
          <p>
            <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_COOLING_HEATING" | translate }}</b>
            {{ac.workingTemperatureFrom}}℃ / {{ac.workingTemperatureTo}}℃
          </p>
          <p>
            <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_AREA" | translate }}</b>
            {{ac.area}}㎡
          </p>
          <p>
            <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_GUARANTEE" | translate }}</b>
            {{ac.guarantee}} {{ "APP.AIR_CONDITIONERS.LIST.MONTHS" | translate }}
          </p>
        </div>

        <div class="col-4" style="float: right">
          <h3><b>{{ ac.price | currency:'MKD '  }}</b></h3>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [routerLink]="['/air-conditioners']">
        {{ "APP.ACTIONS.BACK" | translate }}
      </button>
    </mat-card-actions>
</mat-card>

<!--For medium and smaller devices-->
<mat-card class="ac-card mb-5 mat-elevation-z3 mt-5" *ngIf="deviceMdSmXs">

  <mat-card-header class="center-div">

    <div class="col" style="margin: auto; max-width: 300px;">
      <div class="row">
        <img id="ac-brand-image-sm" src="http://localhost:8081/{{ac.brand.logoImageURL}}">
      </div>

      <div class="row" id="model-name-col">
        <h1 matTooltip="{{ac.modelName}}">{{ac.modelName}}</h1>
      </div>
    </div>

  </mat-card-header>

  <div class="center-div pt-4">
    <img id="ac-image" mat-card-image src="http://localhost:8081/{{ac.imageIndoorURL}}">
  </div>
  <div class="center-div pt-4">
    <img id="ac-image" mat-card-image src="http://localhost:8081/{{ac.imageOutdoorURL}}">
  </div>
  <mat-card-content class="center-div">
    <div class="col mt-3">

      <div class="col" style="margin: auto;">
        <p>
          <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_TYPE" | translate }}</b>
          {{ac.type}}
        </p>
        <p>
          <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_ENERGY_CLASS" | translate }}</b>
          {{ac.energyClass}}
        </p>
        <p>
          <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_POWER" | translate }}</b>
          {{ac.power}}W
        </p>
        <p>
          <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_COOLING_HEATING" | translate }}</b>
          {{ac.workingTemperatureFrom}}℃ / {{ac.workingTemperatureTo}}℃
        </p>
        <p>
          <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_AREA" | translate }}</b>
          {{ac.area}}㎡
        </p>
        <p>
          <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_GUARANTEE" | translate }}</b>
          {{ac.guarantee}} {{ "APP.AIR_CONDITIONERS.LIST.MONTHS" | translate }}
        </p>
      </div>

      <div class="row" style="margin: auto; max-width: 150px;">
        <h2><b>{{ ac.price | currency:'MKD '  }}</b></h2>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [routerLink]="['/air-conditioners']">
      {{ "APP.ACTIONS.BACK" | translate}}
    </button>
  </mat-card-actions>
</mat-card>
