mat-grid-tile {
    background: lightblue;
}

img {
  max-width: 80%;
}

.mat-tile {
  background-color: transparent;
}

.mat-tile .mat-card {
  margin: 10px;
}

.center-div {
  display: flex;
  justify-content: center;
}