<app-filter-and-sort (airConditionersFiltered)="getFiltered($event)" (size)="getSize($event)"></app-filter-and-sort>

<ng-container *ngIf="noAirConditioners">
  <div class="mt-2 mb-5 text-center">
    <h3>{{ "APP.AIR_CONDITIONERS.LIST.CANNOT_FIND_PRODUCTS" | translate }}</h3>
  </div>
</ng-container>

<ng-container *ngIf="(airConditioners.length == 0) && !noAirConditioners">
  <div class="mt-5 div-center">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <div class="mt-2 mb-5 text-center">
    <h3>{{ "APP.AIR_CONDITIONERS.LIST.THE_PRODUCTS_ARE_LOADING" | translate }}.</h3>
  </div>
</ng-container>

<div class="mt-2 mb-5 grid-list" *ngIf="airConditioners.length">
    <mat-grid-list *ngIf="!deviceSmXs" cols="2" rowHeight="550px">
      <mat-grid-tile *ngFor="let ac of airConditioners">
        <mat-card class="ac-card mat-elevation-z5">

          <mat-card-header>
            <div class="row">
              <div class="col-3">
                <img id="ac-brand-image-lg" src="http://localhost:8081/{{ac.brand.logoImageURL}}">
              </div>
              <div class="col-9" id="model-name-col">
                <h2 matTooltip="{{ac.modelName}}">{{ac.modelName}}</h2>
              </div>
            </div>
          </mat-card-header>

          <div class="center-div pt-4">
            <img id="ac-image" mat-card-image src="http://localhost:8081/{{ac.imageIndoorURL}}">
          </div>
          <mat-card-content>
            <div class="row">

              <div class="col-8">
                <p>
                  <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_TYPE" | translate }}</b> 
                  {{ac.type}}
                </p>
                <p>
                  <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_ENERGY_CLASS" | translate }}</b> 
                  {{ac.energyClass}}
                </p>
                <p>
                  <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_POWER" | translate }}</b> 
                  {{ac.power}}W
                </p>
                <p>
                  <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_COOLING_HEATING" | translate }}</b> 
                  {{ac.workingTemperatureFrom}}℃ / {{ac.workingTemperatureTo}}℃
                </p>
                <p>
                  <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_AREA" | translate }}</b> 
                  {{ac.area}}㎡
                </p>
                <p>
                  <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_GUARANTEE" | translate }}</b> 
                  {{ac.guarantee}} {{ "APP.AIR_CONDITIONERS.LIST.MONTHS" | translate }}
                </p>
              </div>

              <div class="col-4" style="float: right">
                <h3><b>{{ ac.price | currency:'MKD '  }}</b></h3>
              </div>

            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['./', ac.id]">
              {{ "APP.ACTIONS.DETAILS" | translate }}
            </button>
            <button mat-raised-button color="accent" [routerLink]="['./order', ac.id]">
              {{ "APP.ACTIONS.ORDER" | translate }}
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>

  <!-- For small device-->
  <mat-grid-list *ngIf="deviceSmXs" cols="1" rowHeight="650px">
    <mat-grid-tile *ngFor="let ac of airConditioners">
      <mat-card class="ac-card mat-elevation-z3">

        <mat-card-header>
          
          <div class="col-12">
            <div class="row">
              <img id="ac-brand-image-sm" src="http://localhost:8081/{{ac.brand.logoImageURL}}">
            </div>

            <div class="row" id="model-name-col">
              <h2 matTooltip="{{ac.modelName}}">{{ac.modelName}}</h2>
            </div>
          </div>
          
        </mat-card-header>

        <div class="center-div pt-4">
          <img id="ac-image" mat-card-image src="http://localhost:8081/{{ac.imageIndoorURL}}">
        </div>
        <mat-card-content>
          <div class="row">

            <div class="col-8">
              <p>
                <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_TYPE" | translate }}</b> 
                {{ac.type}}
              </p>
              <p>
                <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_ENERGY_CLASS" | translate }}</b> 
                {{ac.energyClass}}
              </p>
              <p>
                <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_POWER" | translate }}</b> 
                {{ac.power}}W
              </p>
              <p>
                <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_COOLING_HEATING" | translate }}</b> 
                {{ac.workingTemperatureFrom}}℃ / {{ac.workingTemperatureTo}}℃
              </p>
              <p>
                <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_AREA" | translate }}</b> 
                {{ac.area}}㎡
              </p>
              <p>
                <b>{{ "APP.AIR_CONDITIONERS.LIST.AC_GUARANTEE" | translate }}</b> 
                {{ac.guarantee}} {{ "APP.AIR_CONDITIONERS.LIST.MONTHS" | translate }}
              </p>
            </div>

            <div class="col-4" style="float: right">
              <h3><b>{{ ac.price | currency:'MKD '  }}</b></h3>
            </div>

          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['./', ac.id]">
            {{ "APP.ACTIONS.DETAILS" | translate }}
          </button>
          <button mat-raised-button color="accent" [routerLink]="['./order', ac.id]">
            {{ "APP.ACTIONS.ORDER" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>