<form [formGroup]="filterForm" (ngSubmit)="filter()" >
  <mat-card class="mt-4 mat-elevation-z5">
      <mat-card-content>
    
        <div class="row">
          <section class="col-2">
            <label>Sort by:</label>
              <br>
            <mat-radio-group aria-label="Select an option" formControlName="sortByControl">
              <mat-radio-button name="sortBy" value="price">Price</mat-radio-button>
                <br>
              <mat-radio-button name="sortBy" value="brand">Brand</mat-radio-button>
            </mat-radio-group>
          </section>
    
          <section class="col-5">
            <label>Min price(MKD):</label>
            <mat-slider 
              [min]="0"
              [max]="200000"
              [step]="5000"
              formControlName="minPriceControl">

            </mat-slider>
            {{filterForm.get('minPriceControl')?.value}}
              <br>
            <label>Max price(MKD):</label>
            <mat-slider 
              [min]="0"
              [max]="200000"
              [step]="5000"
              formControlName="maxPriceControl">

            </mat-slider>
            {{filterForm.get('maxPriceControl')?.value}}
          </section>

          <section class="col-5" >
            <div class="row">Select the desired power attribute(s)</div><br>
            <ng-container *ngFor="let data of checkboxData">
              <mat-checkbox [value]="data.value" (change)=onCheckboxChange($event)>{{data.name}}</mat-checkbox>&nbsp;
            </ng-container>
          </section>
        </div>
    
      </mat-card-content>
  </mat-card>
  <section class="filter-button mt-3">
    <button type="submit" mat-raised-button color="accent">Filter</button>
  </section>
</form>

<!-- <pre>
  {{filterForm.value | json}}
</pre>

<pre>
  {{filterForm.valid | json}}
</pre> -->

<!--For smaller devices but this way we are duplicating the form, so better stick to one form (the above one) and style it for different device sizes
<form>
  <mat-card class="mt-4 mat-elevation-z5" *ngIf="deviceSmXs">
    <mat-card-content>

      <div class="row">
        <section class="col-4">
          <label>Sort by:</label>
            <br>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="price">Price</mat-radio-button>
              <br>
            <mat-radio-button value="brand">Brand</mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="col-8">
          <label>Price in MKD:</label>
            <br>
        </section>
      </div>

      <ng-template ngFor let-data [ngForOf]="checkboxData">
        <mat-checkbox [value]="data.value" (change)=onCheckboxChange($event)>{{data.name}}</mat-checkbox>
      </ng-template>

      <div class="row div-center">
        <section class="ml-4">
          <mat-checkbox>2.5 kW</mat-checkbox>
            <br>
          <mat-checkbox>3.5 kW</mat-checkbox>
            <br>
          <mat-checkbox>5.5 kW</mat-checkbox>
            <br>
        </section>

        <section class="ml-3">
          <mat-checkbox>7.0 kW</mat-checkbox>
            <br>
          <mat-checkbox>8.0 kW</mat-checkbox>
            <br>
          <mat-checkbox>10.0 kW</mat-checkbox>
            <br>
        </section>

        <section class="ml-3">
          <mat-checkbox>12.0 kW</mat-checkbox>
            <br>
          <mat-checkbox>15.0 kW</mat-checkbox>
            <br>
          <mat-checkbox>15.0+ kW</mat-checkbox>
            <br>
        </section>
      </div>

    </mat-card-content>
  </mat-card>
</form> -->