<div class="col-md-12 text-center page-not-found">
    <div class="mb-5 mt-5">
        <h3>{{ "APP.PAGE_NOT_FOUND.OOPS" | translate }}</h3>
        <h1 class="text-danger">{{ "APP.PAGE_NOT_FOUND.NOT_FOUND" | translate}}</h1>
        <div class="mb-5">
            <h3>{{ "APP.PAGE_NOT_FOUND.TEXT" | translate}}</h3>
        </div>
        <div class="div-center">
            <mat-progress-bar mode="indeterminate" color="accent" class="w-25"></mat-progress-bar>
        </div>
        <button class="mt-2" [routerLink]="['/air-conditioners']" mat-raised-button color="primary">
            {{ "APP.PAGE_NOT_FOUND.TAKE_ME_BACK" | translate}}
        </button>
    </div>
</div>