<mat-toolbar color="primary" class="header">
  <span>
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo.png"
           width="30"
           height="30"
           class="d-inline-block align-top"
           loading="lazy">
      <span class="ml-2">klimasistemi</span>
    </a>
  </span>
  <span>
    <a class="nav-link" [routerLink]="['air-conditioners']">Air Conditioners</a>
  </span>
  <span class="spacer"></span>
  <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">login</mat-icon>
</mat-toolbar>