<mat-toolbar *ngIf="!deviceXs" color="primary" class="header">
  <span matRipple>
    <a class="navbar-brand" [routerLink]="['/air-conditioners']">
      <img src="../../../assets/images/logo.png"
           width="30"
           height="30"
           class="d-inline-block align-top"
           loading="lazy">
      <span class="ml-2">klimasistemi</span>
    </a>
  </span>
  <span matRipple>
    <a class="nav-link" [routerLink]="['/air-conditioners']">
      <span>Air Conditioners</span>
    </a>
  </span>
  <span matRipple>
    <a href="mailto:timmont2000@gmail.com" target="_blank">Send mail</a>
  </span>
  <span class="spacer"></span>
  <span matRipple>
    +389 78 202 309
  </span>
  <button mat-icon-button>
    <mat-icon class="nav-link icon" [routerLink]="['/air-conditioners']">shopping_cart</mat-icon>
  </button>
  
</mat-toolbar>

<!--For small devices make 2 rows of navigation-->
<mat-toolbar *ngIf="deviceXs" color="primary" class="header">
  <mat-toolbar-row>
    <span matRipple>
      <a class="navbar-brand" [routerLink]="['/air-conditioners']">
        <img src="../../../assets/images/logo.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            loading="lazy">
        <span class="ml-2">klimasistemi</span>
      </a>
    </span>
    <span matRipple>
      <a class="nav-link" [routerLink]="['/air-conditioners']">
        <span>Air Conditioners</span>
      </a>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span matRipple>
      <a href="mailto:timmont2000@gmail.com" target="_blank">Send mail</a>
    </span>
    <span class="spacer"></span>
    <span matRipple>
      +389 78 202 309
    </span>
    <button mat-icon-button>
      <mat-icon class="nav-link icon" [routerLink]="['/air-conditioners']">shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>