<mat-toolbar color="primary" class="header">
  <span>
    <a matRipple class="navbar-brand" [routerLink]="['/air-conditioners']">
      <img src="../../../assets/images/logo.png"
           width="30"
           height="30"
           class="d-inline-block align-top"
           loading="lazy">
      <span class="ml-2">klimasistemi</span>
    </a>
  </span>
  <span>
    <a matRipple class="nav-link" [routerLink]="['/air-conditioners']">
      <span>Air Conditioners</span>
    </a>
  </span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon class="mr-5 nav-link icon" [routerLink]="['/air-conditioners']">login</mat-icon>
  </button>
  
</mat-toolbar>